<link href="../../../polymer/polymer-element.html" rel="import">
<link href="../../../iron-resizable-behavior/iron-resizable-behavior.html" rel="import">
<link href="../../../vaadin-themable-mixin/vaadin-themable-mixin.html" rel="import">
<link href="../../../vaadin-element-mixin/vaadin-element-mixin.html" rel="import">
<link href="../utils/vaadin-disabled-property-mixin.html" rel="import"/>

<dom-module id="responsive-canvas">
  <template>
    <style>
      :host {
        position: relative;
      }

      :host([hidden]) {
        display: none !important;
      }

      [part="canvas"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    </style>

    <canvas height="[[_height]]" part="canvas" width="[[_width]]"></canvas>
  </template>

  <script>
    (function() {

      /**
       * `<responsive-canvas>` is a wrapper for the `<canvas>` element that will automatically set
       * the `width` and `height` attribute of the canvas if it is resized.
       *
       * @memberof Vaadin.ColorPicker
       * @mixes Vaadin.ElementMixin
       * @mixes Vaadin.ThemableMixin
       * @mixes Vaadin.DisabledPropertyMixin
       */
      class ResponsiveCanvasElement extends Vaadin.ElementMixin(Vaadin.ThemableMixin(
        Vaadin.DisabledPropertyMixin(
          Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element)))) {

        static get is() {
          return 'responsive-canvas';
        }

        static get version() {
          return '0.5.0';
        }

        static get properties() {
          return {

            /**
             * The callback that is used to render the content of the canvas.
             * Should be a method handling the `canvas` as an argument: `function render(canvas)`.
             *
             * @property {Function} renderCallback
             */
            renderCallback: {
              type: Function
            },
            /**
             * @private
             */
            _canvas: {
              type: Object,
              readOnly: true
            },
            /**
             * @private
             */
            _width: {
              type: Number,
              notify: true
            },
            /**
             * @private
             */
            _height: {
              type: Number,
              notify: true
            }
          };
        }

        /**
         * @protected
         * */
        ready() {
          super.ready();

          this._set_canvas(this.shadowRoot.querySelector('[part~="canvas"]'));
          this._createPropertyObserver('renderCallback', '_refreshCanvas', true);
        }

        /**
         * @protected
         * */
        connectedCallback() {
          super.connectedCallback();
          this.addEventListener('iron-resize', this._refreshCanvas.bind(this));
        }

        /**
         * Refreshes the canvas by re-setting its size and re-rendering it.
         *
         * @private
         */
        _refreshCanvas() {
          this._refreshCanvasSize();
          this.renderCanvas();
        }

        /**
         * Re-sets the size of the canvas.
         *
         * @private
         */
        _refreshCanvasSize() {
          this._width = this._canvas.scrollWidth;
          this._height = this._canvas.scrollHeight;
        }

        /**
         * Renders the canvas using the provided `renderCallback`.
         */
        renderCanvas() {
          if (this.renderCallback) {
            this.renderCallback(this._canvas);
          }
        }
      }

      customElements.define(ResponsiveCanvasElement.is, ResponsiveCanvasElement);

      /**
       * @namespace Vaadin.ColorPicker
       */
      window.Vaadin = window.Vaadin || {};
      window.Vaadin.ColorPicker = window.Vaadin.ColorPicker || {};
      window.Vaadin.ColorPicker.ResponsiveCanvasElement = ResponsiveCanvasElement;
    })();
  </script>
</dom-module>
