<link href="../../../bower_components/vaadin-icons/vaadin-icons.html" rel="import">
<link href="../../../bower_components/vaadin-button/theme/material/vaadin-button.html" rel="import">

<dom-module id="material-color-picker-element-carousel" theme-for="element-carousel">
  <template>
    <style>
      [part="switch-button"] {
        min-width: 0;
        height: 32px;
        width: 32px;
        margin: 8px 0;
      }
    </style>
  </template>
</dom-module>

<dom-module id="material-color-picker-element-carousel-switch-button" theme-for="vaadin-button">
  <template>
    <style>
      :host([part="switch-button"]) [part="prefix"] ::slotted(iron-icon) {
        margin-right: 0;
        margin-left: 0;
      }
    </style>
  </template>
</dom-module>
